<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="samples.AuthorizationTest"/>
      <class name="samples.FileuploadDemo"/>
      <class name="samples.Cookies"/>
      <class name="samples.JsonSchemaValidatorDemo"/>
      <class name="samples.HeadersDemo"/>
      <class name="samples.Example1"/>
      <class name="samples.ValidatingResponse"/>
      <class name="samples.PathAndQueryParameter"/>
      <class name="samples.UsingPojoClassData"/>
      <class name="samples.UsingDataProviderwithoutExcelUtility"/>
      <class name="samples.UsingExternalJsonFile"/>
      <class name="samples.FakerClassDataGenerate"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
